// HOME PAGE STYLE
.home-page-main{
    padding-left:0!important;
    padding-right:0!important;
    margin-top:30rem;
    .home-page-first-sec{
        .home-page-image{
            margin-top: -20rem;
        }
        .home-page-text{
            margin-top: -25rem;
            margin-left: 14rem;
            .vector-styles.flex {
                width: 318px;
                justify-content: space-evenly;
                margin-left: -16rem;
                .v1{
                    margin-left: -25px;
                }
                .v2{
                    margin-top: 55px;
                    position: absolute;
                    margin-left: -40px;
                }
            }
        .home-page-heading-main{
            width:514px;
        }
        p{
            width:541px;
        }
    }
}
}
            @keyframes type{
            from { width: 0; }
        }
            @keyframes type2
        {
            0%{width: 0;}
            50%{width: 0;}
            100%{ width: 100; }

        }

            .back-img{
            display: flex;
            width: 673px;
        }

            .imagesContainer img {
            width: 500px;
            position: absolute;
            top: 0;
            left: 0;
        }

            .imgDiv2 {
            position: absolute;
            right: 3rem;
            bottom: 0;
            top: 2rem;
        }
            .imgDiv0 {
                margin-top: 10rem;
                position: absolute;
                right: 7rem;
                bottom: 0;
                top: 8rem;
        }
         .imgDiv00 {
            margin-top: 2rem;
            position: absolute;
            right: 0rem;
            bottom: 0;
            top: 7rem;
        }
//             /* images using CSS */
             .imageDiv {
             position: absolute;
             top: 10rem;
             right: 0;
             bottom: 0;
             background-size: cover;
         }

            .image0 { background-image: url("../../images/slider-image1.png"); }
            .image1 { background-image: url("../../images/slider-image2.png"); }
            .image2 { background-image: url("../../images/slider-image3.png"); }
            .image3 { background-image: url("../../images/stroke.png"); }


            /* animation styles */
            @keyframes fadeIn {
            0% { opacity: 0; }
            20% { opacity: 0; }
            60% { opacity: 1; }
            100% { opacity: 1; }
        }

            .fadeInClass{
            animation-name: fadeIn;
            animation-duration: 7s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: linear;
        }
        .ambitions{
                width:559px;
                white-space: nowrap;
                overflow: hidden;
                animation: type 4s steps(90, end);
                animation: type2 4s steps(90, end);
                
            }
                @keyframes type{
                from { width: 0; }
            }
                @keyframes type2
            {
                100%{width: 100;}
                50%{width: 0;}
                0%{ width: 0; }
    
            }
       .trans{
            animation: transform 2s ;
             animation-duration: 3s;
              height: 20vh;
             position:relative;
             margin-top: 15rem;
         }
            @keyframes transform {
            from {
            transform: translateY(300%);

        }
}
.home-page-mobile{
    display:none;
}
