// Style of home-page-last-sec

#card{
    padding-bottom:20px;
}
.Last-section-Agency-Task{
    overflow: hidden;
    // position: absolute;
    padding:0!important;
    margin-top: 18rem;
    width:98%;
    .background-img{
    position: relative;
    top: 35px;
    left: 54px;
    width: 75%;
    img{
        height: 95%;
        width: 93%;
    }
    }
    .Last-section{ 
        // position: absolute;   
        // margin-top: -100rem;
        .Agency-tasks{
            .leaf-design-img{
                position: relative;
                top:19px;
            }
            .class-set{
                position: relative;
                top:20px;
            }
            margin-top: -10rem;
            .main-head-last-sec{
                line-height: 1.07;
            }
            .cards{
                .cardimg{
                    border-radius: 10px;
                }
                .Card1{
                position: relative;
                margin: 0 12px;
                    .overlay{
                        width: 100%!important;
                        left:0!important;
                    }
                }
            }
        }
    }
}
.overlay {
    cursor:pointer;
    position: absolute;
    bottom: 0;
    left: 14px;
    right: 0;
    background-color:rgba(0,0,0,0.4);
    opacity: 1;
    overflow: hidden;
    width: 95%;
    height: 0;
    transition: .5s ease;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.Card1:hover .overlay
{
    height: 100%;
}
.first-container{
    margin-top:8rem;
}