/*font size start*/
.f-s-22{
    font-size: 22px;
}
.f-s-24{
    font-size: 24px;
}
.f-s-52{
    font-size: 52px;
}
.f-s-62{
    font-size: 62px;
}
.f-s-25{
    font-size: 25px;
}
.f-s-18{
    font-size: 18px;
}
.f-s-21{
    font-size: 21px;
}
.f-s-16{
    font-size: 16px;
}
.f-s-28{
    font-size: 28px;
}
.f-s-20{
    font-size: 20px;
}
.f-s-35{
    font-size: 35px;
}
.f-s-42{
    font-size: 42px;
}
.f-s-48{
    font-size: 48px;
}
.f-s-55{
    font-size: 55px;
}
.f-s-62{
    font-size: 62px;
}
.f-s-63{
    font-size: 63px;
}
/*font size end*/