@import './fontWeight.scss';
@import './color.scss';
@import './fontSize.scss';

body{
    font-family: raleway;
    padding:0px !important;
    margin: 0px !important;
}
html{
    font-family: raleway;
}
// Style-guide-Start
.f-fm{
    font-family: raleway;
}
.f-fm-fA{
    font-family:FontAwesome ;
}
.f-fm-mob{
    font-family: Myriad Pro;
}
.f-str-n{
    font-stretch: normal;
}
.f-sty-n{
    font-style: normal;
}
/*font weight start*/
.f-w-500{
    font-weight: 500;
}
.f-w-600{
    font-weight: 600;
}
.f-w-n{
    font-weight: normal;
}
.f-w-b{
    font-weight: bold;
}
/*font weight end*/
/*font size start*/
.f-s-22{
    font-size: 22px;
}
.f-s-24{
    font-size: 24px;
}
.f-s-52{
    font-size: 52px;
}
.f-s-62{
    font-size: 62px;
}
.f-s-25{
    font-size: 25px;
}
.f-s-18{
    font-size: 18px;
}
.f-s-21{
    font-size: 21px;
}
.f-s-16{
    font-size: 16px;
}
.f-s-28{
    font-size: 28px;
}
.f-s-20{
    font-size: 20px;
}
.f-s-35{
    font-size: 35px;
}
.f-s-42{
    font-size: 42px;
}
.f-s-48{
    font-size: 48px;
}
.f-s-55{
    font-size: 55px;
}
.f-s-62{
    font-size: 62px;
}
.f-s-63{
    font-size: 63px;
}
/*font size end*/
/*line height start*/
.l-h-0-65{
    line-height: 0.65;
}
.l-h-1-64{
    line-height: 1.64;
}
.l-h-1-1{
    line-height: 1.1;
}
.l-h-1-21{
    line-height: 1.21;
}
.l-h-3-44{
    line-height: 3.44;
}
.l-h-1-67{
    line-height: 1.67;
}
.l-h-1-71{
    line-height: 1.71;
}
.l-h-1-19 {
    line-height: 1.19;
}

.l-h-1-28{
    line-height: 1.28;
}
.l-h-1-26{
    line-height: 1.28;
}


.l-h-1-56{
    line-height: 1.56;
}
.l-h-1-94{
    line-height: 94;
}

.l-h-1-52{
    line-height:1.52 ;
}

.l-h-1-32{
    line-height: 1.32;
}
.l-h-1-78{
    line-height: 1.78;
}

.l-h-1-4{
    line-height: 1.4;
}

.l-h-1-33{
    line-height: 1.33;
}
.l-h-2-67{
    line-height: 2.67;
}
.l-h-1-5{
    line-height: 1.5;
}

.l-h-1-75{
    line-height: 1.75;
}
.l-h-35{
    line-height: 35px;
}

/*line height end*/

/*letter space start*/
.l-spc-n{
    letter-spacing: normal;
}
.l-spc-9{
    letter-spacing: 0.9px;
}
/*letter space end*/
/*font color + btn colors starts*/
.f-clr-black{
    color: #222222;
}
.f-clr-33{
    color: #333333;
}
.f-clr-gray{
    color: #5a5a5a;
}
.btn-clr{
    background-color: #ef5737;
    border-color: #ef5737;
}
.clr-ef{
    color: #ef5737;
}

.clr-rgba-90-9{
    color: rgba(90,90,90,0.9);
}
.clr-rgba-90-7{
     color: rgba(90,90,90,0.7);
 }
.clr-rgba-34-7{
    color: rgba(34, 34, 34, 0.7);
}

.clr-rgba-239-8 {
    color: rgba(239, 87, 55, 0.8);
}
.clr-5a{
    color: #5a5a5a
}
.clr-3a{
    color: #333333;
}
.clr-var-white{
    color: var(--white);
}
.opc-39{
   opacity: 0.39;
 }

.clr-dark-purpal{
    color: #382c4d;
}
.clr-half-white{
    color: #feffff;
}
/*font color + btn colors end*/

/*opacity*/
.opc-0-9{
    opacity: 0.9;
}
.opc-0-7{
    opacity: 0.7;
}

// style-guide-ends