@media (max-width: 1199px) and (min-width: 1024px) {
    .list-nav-items{
        display: none!important;
    }
    .Ham{
        float: right;
        margin-top: -66px;
        width: 30px;
        height: 15px;
        .ham-burger {
            height: 26px;
            margin-left: -6px;
        }
    }  
    .sidenav{
        display:block;
    }
    .Ham{
        display:block;
    }
 }
@media (max-width: 1023px) and (min-width: 992px) {
    .list-nav-items{
        display: none!important;
    }
    .Ham{
        float: right;
        margin-top: -66px;
        width: 30px;
        height: 15px;
        .ham-burger {
            height: 26px;
            margin-left: -6px;
        }
    }  
    .sidenav{
        display:block;
    }
    .Ham{
        display:block;
    }
 }
@media (max-width: 991px) and (min-width: 768px) {
    .list-nav-items{
        display: none!important;
    }
    .Ham{
        float: right;
        margin-top: -66px;
        width: 30px;
        height: 15px;
        .ham-burger {
            height: 26px;
            margin-left: -6px;
        }
    }  
    .sidenav{
        display:block;
    }
    .Ham{
        display:block;
    }
 }
@media (max-width: 767px) and (min-width: 685px) {
    .list-nav-items{
        display: none!important;
    }
    .Ham{
        float: right;
        margin-top: -66px;
        width: 30px;
        height: 15px;
        .ham-burger {
            height: 26px;
            margin-left: -6px;
        }
    }  
    .sidenav{
        display:block;
    }
    .Ham{
        display:block;
    }
 }
@media (max-width: 684px) and (min-width: 568px) {
    .list-nav-items{
        display: none!important;
    }
    .Ham{
        float: right;
        margin-top: -66px;
        width: 30px;
        height: 15px;
        .ham-burger {
            height: 26px;
            margin-left: -6px;
        }
    }
    .sidenav{
        display:block;
    }
    .Ham{
        display:block;
    }
 }
@media (max-width: 567px) and (min-width: 480px) {
    .list-nav-items{
        display: none!important;
    }
    .sidenav{
        display:block;
    }
    .Ham{
        display:block;
    }
 }
@media (max-width: 479px) and (min-width: 320px) {
    .list-nav-items{
        display: none!important;
    }
    .sidenav{
        display:block;
    }
    .Ham{
        display:block;
    }
}