@media (max-width: 1199px) and (min-width: 1024px) {
        .sec-B-main{
            margin:0!important;
            .what-we-do{
                margin:0!important; 
            }
        }
        .diamond-image{
            margin:0!important;
            justify-content: flex-start!important;
        }
 }
@media (max-width: 1023px) and (min-width: 992px) {
    .sec-B-main{
        margin:0!important;
        .what-we-do{
            margin:0!important; 
        }
    }
    .diamond-image{
        margin:0!important;
        justify-content: flex-start!important;
    }
 }
@media (max-width: 991px) and (min-width: 768px) {
    .sec-B-main{
        margin: 0!important;
        padding:0;
        .what-we-do{
            margin:0;
            flex-direction: column;
            .side-image-leaf{
                display:none;
            }
            .secB-start{
                    h1{
                        font-size: 24px;
                        br{display: none!important;}
                    }
            }
        }
        .dead{
            flex-direction: column;
            width: 100%;
        .SecB-credentials{
            margin-left:18rem!important;
            width:35%!important;
            justify-content: center;
           .product-design{
               .card-background-img{
                   .back-img{
                       margin-left: 10px!important;
                       height: 428px!important;
                         width: 170px!important;
                        margin-top: 24px!important;
                   }
               }
           }
            }
        }
    }
    .home-page-second-part-main{
        .image-mobile {
            display:block!important;
            .mobile-image{
                width:100%;
            }
        }
        .partB-start{
            margin:0!important;
            .diamond-image{
                display: block;
                width:100%!important;
                margin-left:0;
                margin-top:2rem;
            }
            .who-we-are-heading{
                display:block!important;
                h1{
                    width:284px;
                    font-size: 24px;
                }
            }
            .second-part-text{
                display:block;
                p{
                    width:632px!important;
                    margin:0!important;
                }
            }
            .read-succes-story-button{
                margin-top:72px;
                margin-left:0!important;
            }
            .image-mobile {
                width: 350px;
            }
        }
    }
    .partB-image{
        display: none;
    }
    .threedott{
        display: none;
    }
    .who-we-are-heading{
        display: block;
        margin-left:0!important;
    }
 }
@media (max-width: 767px) and (min-width: 685px) {
    .sec-B-main{
        margin: 0!important;
        padding:0;
        .what-we-do{
            margin:0;
            flex-direction: column;
            .side-image-leaf{
                display:none;
            }
            .secB-start{
                    h1{
                        font-size: 24px;
                        br{display: none!important;}
                    }
            }
        }
        .dead{
            flex-direction: column;
            width: 100%;
        .SecB-credentials{
            margin-left:89px!important;
            width:35%!important;
            justify-content: center;
           .product-design{
               .card-background-img{
                   .back-img{
                       margin-left: 10px!important;
                       height: 428px!important;
                         width: 170px!important;
                        margin-top: 24px!important;
                   }
               }
           }
            }
        }
    }
    .home-page-second-part-main{
        .image-mobile {
            display:block!important;
            .mobile-image{
                width:100%;
            }
        }
        .partB-start{
            margin:0!important;
            .diamond-image{
                display: block;
                width:100%!important;
                margin-left:0;
                margin-top:2rem;
            }
            .who-we-are-heading{
                display:block!important;
                h1{
                    width:284px;
                    font-size: 24px;
                }
            }
            .second-part-text{
                display:block;
                p{
                    width:632px!important;
                    margin:0!important;
                }
            }
            .read-succes-story-button{
                margin-top:72px;
                margin-left:0!important;
            }
            .image-mobile {
                width: 350px;
            }
        }
    }
    .partB-image{
        display: none;
    }
    .threedott{
        display: none;
    }
    .who-we-are-heading{
        display: block;
        margin-left:0!important;
    }
 }
@media (max-width: 684px) and (min-width: 568px) { 
    .sec-B-main{
        margin: 0!important;
        padding:0;
        .what-we-do{
            margin:0;
            flex-direction: column;
            .side-image-leaf{
                display:none;
            }
            .secB-start{
                    h1{
                        font-size: 24px;
                        br{display: none!important;}
                    }
            }
        }
        .dead{
            flex-direction: column;
            width: 100%;
        .SecB-credentials{
            margin-left:89px!important;
            width:35%!important;
            justify-content: center;
           .product-design{
               .card-background-img{
                   .back-img{
                       margin-left: 10px!important;
                       height: 428px!important;
                         width: 170px!important;
                        margin-top: 24px!important;
                   }
               }
           }
            }
        }
    }
    .home-page-second-part-main{
        .image-mobile {
            display:block!important;
            .mobile-image{
                width:100%;
            }
            
        }
        .partB-start{
            margin:0!important;
            .diamond-image{
                display: block;
                width:100%!important;
                margin-left:0;
                margin-top:2rem;
            }
            .who-we-are-heading{
                display:block!important;
                h1{
                    width:284px;
                    font-size: 24px;
                }
            }
            .second-part-text{
                display:block;
                p{
                    width:527px!important;
                    margin:0!important;
                }
            }
            .read-succes-story-button{
                margin-left:0!important;
            }
            .image-mobile {
                width: 350px;
            }
        }
    }
    .partB-image{
        display: none;
    }
    .threedott{
        display: none;
    }
    .who-we-are-heading{
        display: block;
        margin-left:0!important;
    }
}
@media (max-width: 567px) and (min-width: 480px) { 
    .sec-B-main{
        margin: 0!important;
        padding:0;
        .what-we-do{
            margin:0;
            flex-direction: column;
            .side-image-leaf{
                display:none;
            }
            .secB-start{
                    h1{
                        font-size: 24px;
                        br{display: none!important;}
                    }
            }
        }
        .dead{
            flex-direction: column;
            width: 100%;
        .SecB-credentials{
            margin-left:0!important;
            width:100%!important;
           .product-design{
               .card-background-img{
                   .back-img{
                       margin-left: 10px!important;
                       height: 428px!important;
                         width: 170px!important;
                        margin-top: 24px!important;
                   }
               }
           }
            }
        }
    }
    .home-page-second-part-main{
         .image-mobile {
            display:block!important;
            .mobile-image{
                width:507px;
            }
            
        }
        .partB-start{
            margin:0!important;
            .diamond-image{
                display: block;
                width:100%!important;
                margin-left:0;
                margin-top:2rem;
            }
            .who-we-are-heading{
                display:block!important;
                h1{
                    width:284px;
                    font-size: 24px;
                }
            }
            .second-part-text{
                display:block;
                p{
                    width:302px!important;
                    margin:0!important;
                }
            }
            .read-succes-story-button{
                margin-left:0!important;
            }
            .image-mobile {
                width: 350px;
            }
        }
    }
    .partB-image{
        display: none;
    }
    .threedott{
        display: none;
    }
    .who-we-are-heading{
        display: block;
        margin-left:0!important;
    }
}
@media (max-width: 479px) and (min-width: 320px) { 
    .sec-B-main{
        margin: 0!important;
        padding:0;
        .what-we-do{
            margin:0;
            flex-direction: column;
            .secB-start{
                margin-top: 19rem!important;
            }
            .side-image-leaf{
                display:none;
            }
            .secB-start{
                    h1{
                        font-size: 24px;
                        br{display: none!important;}
                    }
            }
        }
        .dead{
            flex-direction: column;
            width: 100%;
        .SecB-credentials{
            margin-left:0!important;
            width:100%!important;
           .product-design{
               .card-background-img{
                   .back-img{
                       margin-left: 11rem!important;
                       height: 428px!important;
                         width: 170px!important;
                        margin-top: 24px!important;
                   }
               }
           }
            }
        }
    }
    .home-page-second-part-main{
        .partB-start{
            margin:0!important;
            .diamond-image{
                display: block;
                width:100%!important;
                margin-left:0;
                margin-top:2rem;
            }
            .who-we-are-heading{
                display:block!important;
                h1{
                    width:284px;
                    font-size: 24px;
                }
            }
            .second-part-text{
                display:block;
                p{
                    width:302px!important;
                    margin:0!important;
                }
            }
            .read-succes-story-button{
                margin-left:0!important;
            }
            .image-mobile {
                width: 350px;
            }
        }
    }
    .partB-image{
        display: none!important;
    }
    .image-mobile {
        display:block!important;
        
    }
    .threedott{
        display: none;
    }
    .who-we-are-heading{
        display: block;
        margin-left:0!important;
    }
  
}