@media (max-width: 1199px) and (min-width: 1024px) {
    .our-services-secb-main{
        .image-dotted{
            display:none;
        }
        .our-services-secb-start{
            margin-top: 4rem!important;
            .brands{
                width: 100%;
                .we-help-brands{
                    h1{
                        font-size: 24px;
                        width:100%;
                    }
                    p{
                        width:100%;
                    }
                }
            }
            
        }
    }
                                     /* PRODUCT DESIGN SECTION START */
         
     .product-design-cards{
         padding:0!important;
        .product-design-cards-start{
            flex-direction: column;
            .cards-product-design{
                width:100%!important;
                flex-direction: column;
                .cards-A-B{
                    width:100%;
                    .card-product-design-A{
                        justify-content: center;
                        .diamond-small{
                            .diamond-pic{
                                height:20px;
                                margin-top: 24px;
                                margin-left: 10px;
                            }
                        }
                        .product-description{
                            margin-left: 0;
                            h1{
                                margin-left: 20px;
                            }
                        }
                    }
                }
                .cards-C-D{
                    width:100%;
                    .card-product-design-A{
                        justify-content: center;
                        .diamond-small{
                            .diamond-pic{
                                height:20px;
                                margin-top: 24px;
                                margin-left: 10px;
                            }
                        }
                        .product-description{
                            margin-left: 0;
                            h1{
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
     }
 }
@media (max-width: 1023px) and (min-width: 992px) { 
    .our-services-secb-main{
        .image-dotted{
            display:none;
        }
        .our-services-secb-start{
            margin-top: 4rem!important;
            .brands{
                width: 100%;
                .we-help-brands{
                    h1{
                        font-size: 24px;
                        width:100%;
                    }
                    p{
                        width:100%;
                    }
                }
            }
            
        }
    }
                                     /* PRODUCT DESIGN SECTION START */
         
     .product-design-cards{
         padding:0!important;
        .product-design-cards-start{
            flex-direction: column;
            .cards-product-design{
                width:100%!important;
                flex-direction: column;
                .cards-A-B{
                    width:100%;
                    .card-product-design-A{
                        justify-content: center;
                        .diamond-small{
                            .diamond-pic{
                                height:20px;
                                margin-top: 24px;
                                margin-left: 10px;
                            }
                        }
                        .product-description{
                            margin-left: 0;
                            h1{
                                margin-left: 20px;
                            }
                        }
                    }
                }
                .cards-C-D{
                    width:100%;
                    .card-product-design-A{
                        justify-content: center;
                        .diamond-small{
                            .diamond-pic{
                                height:20px;
                                margin-top: 24px;
                                margin-left: 10px;
                            }
                        }
                        .product-description{
                            margin-left: 0;
                            h1{
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
     }
}
@media (max-width: 991px) and (min-width: 768px) { 
    .our-services-secb-main{
        .image-dotted{
            display:none;
        }
        .our-services-secb-start{
            margin-top: 4rem!important;
            .brands{
                width: 100%;
                .we-help-brands{
                    h1{
                        font-size: 24px;
                        width:100%;
                    }
                    p{
                        width:100%;
                    }
                }
            }
            
        }
    }
                                     /* PRODUCT DESIGN SECTION START */
         
     .product-design-cards{
         padding:0!important;
        .product-design-cards-start{
            flex-direction: column;
            .cards-product-design{
                width:100%!important;
                flex-direction: column;
                .cards-A-B{
                    width:100%;
                    .card-product-design-A{
                        justify-content: center;
                        .diamond-small{
                            .diamond-pic{
                                height:20px;
                                margin-top: 24px;
                                margin-left: 10px;
                            }
                        }
                        .product-description{
                            margin-left: 0;
                            h1{
                                margin-left: 20px;
                            }
                        }
                    }
                }
                .cards-C-D{
                    width:100%;
                    .card-product-design-A{
                        justify-content: center;
                        .diamond-small{
                            .diamond-pic{
                                height:20px;
                                margin-top: 24px;
                                margin-left: 10px;
                            }
                        }
                        .product-description{
                            margin-left: 0;
                            h1{
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
     }
}
@media (max-width: 767px) and (min-width: 685px) {
    .our-services-secb-main{
        .image-dotted{
            display:none;
        }
        .our-services-secb-start{
            margin-top: 4rem!important;
            .brands{
                width: 100%;
                .we-help-brands{
                    h1{
                        font-size: 24px;
                        width:100%;
                    }
                    p{
                        width:100%;
                    }
                }
            }
            
        }
    }
                                     /* PRODUCT DESIGN SECTION START */
         
     .product-design-cards{
         padding:0!important;
        .product-design-cards-start{
            flex-direction: column;
            .cards-product-design{
                width:100%!important;
                flex-direction: column;
                .cards-A-B{
                    width:100%;
                    .card-product-design-A{
                        justify-content: center;
                        .diamond-small{
                            .diamond-pic{
                                height:20px;
                                margin-top: 24px;
                                margin-left: 10px;
                            }
                        }
                        .product-description{
                            margin-left: 0;
                            h1{
                                margin-left: 20px;
                            }
                        }
                    }
                }
                .cards-C-D{
                    width:100%;
                    .card-product-design-A{
                        justify-content: center;
                        .diamond-small{
                            .diamond-pic{
                                height:20px;
                                margin-top: 24px;
                                margin-left: 10px;
                            }
                        }
                        .product-description{
                            margin-left: 0;
                            h1{
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
     }
 }
@media (max-width: 684px) and (min-width: 568px) {
    .our-services-secb-main{
        .image-dotted{
            display:none;
        }
        .our-services-secb-start{
            margin-top: 4rem!important;
            .brands{
                width: 100%;
                .we-help-brands{
                    h1{
                        font-size: 24px;
                        width:100%;
                    }
                    p{
                        width:100%;
                    }
                }
            }
            
        }
    }
                                     /* PRODUCT DESIGN SECTION START */
         
     .product-design-cards{
         padding:0!important;
        .product-design-cards-start{
            flex-direction: column;
            .cards-product-design{
                width:100%!important;
                flex-direction: column;
                .cards-A-B{
                    width:100%;
                    .card-product-design-A{
                        justify-content: center;
                        .diamond-small{
                            .diamond-pic{
                                height:20px;
                                margin-top: 24px;
                                margin-left: 10px;
                            }
                        }
                        .product-description{
                            margin-left: 0;
                            h1{
                                margin-left: 20px;
                            }
                        }
                    }
                }
                .cards-C-D{
                    width:100%;
                    .card-product-design-A{
                        justify-content: center;
                        .diamond-small{
                            .diamond-pic{
                                height:20px;
                                margin-top: 24px;
                                margin-left: 10px;
                            }
                        }
                        .product-description{
                            margin-left: 0;
                            h1{
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
     }
 }
@media (max-width: 567px) and (min-width: 480px) {
    .our-services-secb-main{
        .image-dotted{
            display:none;
        }
        .our-services-secb-start{
            margin-top: 4rem!important;
            .brands{
                width: 100%;
                .we-help-brands{
                    h1{
                        font-size: 24px;
                        width:100%;
                    }
                    p{
                        width:100%;
                    }
                }
            }
            
        }
    }
                                     /* PRODUCT DESIGN SECTION START */
         
     .product-design-cards{
         padding:0!important;
        .product-design-cards-start{
            flex-direction: column;
            .cards-product-design{
                width:100%!important;
                flex-direction: column;
                .cards-A-B{
                    width:100%;
                    .card-product-design-A{
                        justify-content: center;
                        .diamond-small{
                            .diamond-pic{
                                height:20px;
                                margin-top: 24px;
                                margin-left: 10px;
                            }
                        }
                        .product-description{
                            margin-left: 0;
                            h1{
                                margin-left: 20px;
                            }
                        }
                    }
                }
                .cards-C-D{
                    width:100%;
                    .card-product-design-A{
                        justify-content: center;
                        .diamond-small{
                            .diamond-pic{
                                height:20px;
                                margin-top: 24px;
                                margin-left: 10px;
                            }
                        }
                        .product-description{
                            margin-left: 0;
                            h1{
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
     }
 }
@media (max-width: 479px) and (min-width: 320px) {
    .our-services-secb-main{
        .image-dotted{
            display:none;
        }
        .our-services-secb-start{
            margin-top: 21rem!important;
            .brands{
                width: 100%;
                .we-help-brands{
                    h1{
                        font-size: 24px;
                        width:100%;
                    }
                    p{
                        width:100%;
                    }
                }
            }
            
        }
    }
                                     /* PRODUCT DESIGN SECTION START */
         
     .product-design-cards{
         padding:0!important;
        .product-design-cards-start{
            flex-direction: column;
            .cards-product-design{
                width:100%!important;
                flex-direction: column;
                .cards-A-B{
                    width:100%;
                    .card-product-design-A{
                        justify-content: center;
                        .diamond-small{
                            .diamond-pic{
                                height:20px;
                                margin-top: 24px;
                                margin-left: 10px;
                            }
                        }
                        .product-description{
                            margin-left: 0;
                            h1{
                                margin-left: 20px;
                            }
                        }
                    }
                }
                .cards-C-D{
                    width:100%;
                    .card-product-design-A{
                        justify-content: center;
                        .diamond-small{
                            .diamond-pic{
                                height:20px;
                                margin-top: 24px;
                                margin-left: 10px;
                            }
                        }
                        .product-description{
                            margin-left: 0;
                            h1{
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
     }

 }