@media (max-width: 1199px) and (min-width: 1024px) {
    .diamond-image{
        margin-top: 24rem;
    }
 }
@media (max-width: 1023px) and (min-width: 992px) { }
@media (max-width: 991px) and (min-width: 768px) {
    .who-we-are-second-part-main{
        width:100%!important;
        margin-top:0;
        .who-we-are{
            .threedott{
                display:none;
            }
            .partB-start{
                width:100%!important;
                margin-left:0;
                .diamond-image{
                    margin-top:24rem;
                    margin-left: 5px;
                    justify-content: start;
                    width:98%;
                }
                .who-we-are-heading{
                    justify-content: start;
                    h1{
                        width:100%;
                    }
                }
                .who-we-are-headingB{
                    h1{
                        font-size: 24px;
                        width: 72%;
                        margin-left: 20px;
                    }
                    
                }
            }
        }
}
                                    // SECOND-PART-RESPONSIVE
        .why-we-exist{
                margin-top: 0;
                flex-direction: column;
                .image-mobile{
                    display: block;
                    margin-top: 3rem;
                    .mobile-image{
                        width:100%;
                    }
                }
                .animated-images{
                    width:100%;
                    margin-top: 4rem;
                    .first-image{
                        justify-content: start;
                    }
                    .second-image{
                        justify-content: center;
                        .square{
                            margin-top: -14rem!important;
                             margin-left: -15rem!important;
                        }
                    }
                }
                .why-do-we-exist-heading{
                    margin-top: 22rem;
                    width:100%;
                    .heading-first{
                        margin-top: 19rem;
                        padding:10px;
                        h1{
                            font-size: 24px;
                        }
                        p{
                            width:100%;
                        }
                    }
                    .heading-second{
                        padding:10px;
                        h1{
                            font-size: 24px;
                        }
                        p{
                            width:100%;
                        }
                    }
                    .heading-third{
                        padding: 10px;
                        h1{
                            font-size: 24px;
                        }
                        p{
                            width:100%;
                        }
                    }
                }
        }
        .partB-image{
            display: none!important;
        }
        .layer-img{
            display: none!important;
        }
 }
@media (max-width: 767px) and (min-width: 685px) { 
    .who-we-are-second-part-main{
        width:100%!important;
        margin-top:0;
        .who-we-are{
            .threedott{
                display:none;
            }
            .partB-start{
                width:100%!important;
                margin-left:0;
                .diamond-image{
                    margin-top:24rem;
                    margin-left: 5px;
                    justify-content: start;
                    width:98%;
                }
                .who-we-are-heading{
                    justify-content: start;
                    h1{
                        width:100%;
                    }
                }
                .who-we-are-headingB{
                    h1{
                        font-size: 24px;
                        width: 72%;
                        margin-left: 20px;
                    }
                    
                }
            }
        }
}
                                    // SECOND-PART-RESPONSIVE
        .why-we-exist{
                margin-top: 0;
                flex-direction: column;
                .image-mobile{
                    display: block;
                    margin-top: 23rem;
                    .mobile-image{
                        width:100%;
                    }
                }
                .animated-images{
                    width:100%;
                    margin-top: 4rem;
                    .second-image{
                        justify-content: center;
                        .square{
                            margin-top: -14rem!important;
                             margin-left: -15rem!important;
                        }
                    }
                }
                .why-do-we-exist-heading{
                    margin-top: 22rem;
                    width:100%;
                    .heading-first{
                        margin-top: 19rem;
                        padding:10px;
                        h1{
                            font-size: 24px;
                        }
                        p{
                            width:100%;
                        }
                    }
                    .heading-second{
                        padding:10px;
                        h1{
                            font-size: 24px;
                        }
                        p{
                            width:100%;
                        }
                    }
                    .heading-third{
                        padding: 10px;
                        h1{
                            font-size: 24px;
                        }
                        p{
                            width:100%;
                        }
                    }
                }
        }
        .partB-image{
            display: none!important;
        }
        .layer-img{
            display: none!important;
        }
}
@media (max-width: 684px) and (min-width: 568px) {
    .who-we-are-second-part-main{
        width:100%!important;
        margin-top:0;
        .who-we-are{
            .threedott{
                display:none;
            }
            .partB-start{
                width:100%!important;
                margin-left:0;
                .diamond-image{
                    margin-top:21rem;
                    margin-left: 5px;
                    justify-content: start;
                    width:98%;
                }
                .who-we-are-heading{
                    justify-content: start;
                    h1{
                        width:100%;
                    }
                }
                .who-we-are-headingB{
                    h1{
                        font-size: 24px;
                        width: 72%;
                    }
                    
                }
            }
        }
}
                                    // SECOND-PART-RESPONSIVE
        .why-we-exist{
                margin-top: 0;
                flex-direction: column;
                .image-mobile{
                    display: block;
                    margin-top: 2rem;
                    .mobile-image{
                        width:100%;
                    }
                }
                .animated-images{
                    width:100%;
                    margin-top: 4rem;
                    .second-image{
                        justify-content: center;
                        .square{
                            margin-top: -14rem!important;
                             margin-left: -15rem!important;
                        }
                    }
                }
                .why-do-we-exist-heading{
                    margin-top: 22rem;
                    width:100%;
                    .heading-first{
                        margin-top: 20rem;
                        padding:10px;
                        h1{
                            font-size: 24px;
                        }
                        p{
                            width:100%;
                        }
                    }
                    .heading-second{
                        padding:10px;
                        h1{
                            font-size: 24px;
                        }
                        p{
                            width:100%;
                        }
                    }
                    .heading-third{
                        padding: 10px;
                        h1{
                            font-size: 24px;
                        }
                        p{
                            width:100%;
                        }
                    }
                }
        }
        .partB-image{
            display: none!important;
        }
        .layer-img{
            display: none!important;
        }
 }
@media (max-width: 567px) and (min-width: 480px) {
    .who-we-are-second-part-main{
        width:100%!important;
        margin-top:0;
        .who-we-are{
            .threedott{
                display:none;
            }
            .partB-start{
                width:100%!important;
                margin-left:0;
                .diamond-image{
                    margin-top: 19rem;
                    margin-left: 5px;
                    justify-content: start;
                    width:98%;
                }
                .who-we-are-heading{
                    h1{
                        width:100%;
                    }
                }
                .who-we-are-headingB{
                    h1{
                        font-size: 24px;
                        width: 304px;
                        margin-left: 20px;
                    }
                    
                }
            }
        }
}

                                    // SECOND-PART-RESPONSIVE
        .why-we-exist{
                margin-top: 0;
                flex-direction: column;
                .image-mobile{
                    display: block;
                }
                .animated-images{
                    width:100%;
                    margin-top: 4rem;
                    .second-image{
                        justify-content: center;
                        .square{
                            margin-top: -12rem!important;
                            //  margin-left: -8rem!important;
                        }
                    }
                }
                .why-do-we-exist-heading{
                    margin-top: 22rem;
                    width:100%;
                    .heading-first{
                        padding:10px;
                        h1{
                            font-size: 24px;
                        }
                        p{
                            width:100%;
                        }
                    }
                    .heading-second{
                        padding:10px;
                        h1{
                            font-size: 24px;
                        }
                        p{
                            width:100%;
                        }
                    }
                    .heading-third{
                        padding: 10px;
                        h1{
                            font-size: 24px;
                        }
                        p{
                            width:100%;
                        }
                    }
                }
        }
        .partB-image{
            display: none!important;
        }
        .layer-img{
            display: none!important;
        }
 }
@media (max-width: 479px) and (min-width: 320px) {
    .who-we-are-second-part-main{
            width:100%!important;
            margin-top:0;
            .who-we-are{
                .threedott{
                    display:none;
                }
                .partB-start{
                    width:100%!important;
                    margin-left:0;
                    .diamond-image{
                        margin-top:19rem;
                        margin-left: 5px;
                        justify-content: start;
                        width:98%;
                    }
                    .who-we-are-heading{
                        h1{
                            width:100%;
                        }
                    }
                    .who-we-are-headingB{
                        h1{
                            font-size: 24px;
                            width: 304px;
                            margin-left: 20px;
                        }
                        
                    }
                }
            }
    }

                                        // SECOND-PART-RESPONSIVE
            .why-we-exist{
                    margin-top: 0;
                    flex-direction: column;
                    .image-mobile{
                        display: block;
                    }
                    .animated-images{
                        width:100%;
                        margin-top: 4rem;
                        .second-image{
                            justify-content: center;
                            .square{
                                margin-top: -12rem!important;
                                //  margin-left: -8rem!important;
                            }
                        }
                    }
                    .why-do-we-exist-heading{
                        margin-top: 22rem;
                        width:100%;
                        .heading-first{
                            padding:10px;
                            h1{
                                font-size: 24px;
                            }
                            p{
                                width:100%;
                            }
                        }
                        .heading-second{
                            padding:10px;
                            h1{
                                font-size: 24px;
                            }
                            p{
                                width:100%;
                            }
                        }
                        .heading-third{
                            padding: 10px;
                            h1{
                                font-size: 24px;
                            }
                            p{
                                width:100%;
                            }
                        }
                    }
            }
            .partB-image{
                display: none!important;
            }
            .layer-img{
                display: none!important;
            }
 }