@media (max-width: 1199px) and (min-width: 1024px) { }
@media (max-width: 1023px) and (min-width: 992px) { }
@media (max-width: 991px) and (min-width: 768px) {
    .progress-rounds-main{
        margin-top: 0;
        .progress-circles-start{
            margin-top: 0;
            flex-direction: column;
            .Last-two-circles{
                width:100%;
                margin-top: 0;
                .background-heart-image{
                    .dotts-pic{
                        display: none;
                        margin-left: 0;
                    }
                }
                .c4{
                    margin-top: 25rem;
                    margin-left: 40px;
                }
            }
        }
        .first-two-circles{
            width: 100%;
            margin-top: 20rem;
            .heart-pic{
                margin-top: -10rem;
            }
            .c1{
                margin-top: -17rem;
                margin-left: -2rem;
            }
            .c2{
                position: absolute;
                margin-top: 9rem;
                margin-left: 3rem;
                .circle-text{
                    padding-top: 2rem;
                }
            }
        }
    }
    .carusal{
        display:block;
    }
    .our-team-images{
        display:none;
    }
 }
@media (max-width: 767px) and (min-width: 685px) {
    .progress-rounds-main{
        margin-top: 0;
        .progress-circles-start{
            margin-top: 0;
            flex-direction: column;
            .Last-two-circles{
                width:100%;
                margin-top: 0;
                .background-heart-image{
                    .dotts-pic{
                        display: none;
                        margin-left: 0;
                    }
                }
                .c4{
                    margin-top: 25rem;
                    margin-left: 40px;
                }
            }
        }
        .first-two-circles{
            width: 100%;
            margin-top: 20rem;
            .heart-pic{
                margin-top: -10rem;
            }
            .c1{
                margin-top: -17rem;
                margin-left: -2rem;
            }
            .c2{
                position: absolute;
                margin-top: 9rem;
                margin-left: 3rem;
                .circle-text{
                    padding-top: 2rem;
                }
            }
        }
    }
    .carusal{
        display:block;
    }
    .our-team-images{
        display:none;
    }
  
 }
@media (max-width: 684px) and (min-width: 568px) {
    .progress-rounds-main{
        margin-top: 0;
        .progress-circles-start{
            margin-top: 0;
            flex-direction: column;
            .Last-two-circles{
                width:100%;
                margin-top: 0;
                .background-heart-image{
                    .dotts-pic{
                        display: none;
                        margin-left: 0;
                    }
                }
                .c4{
                    margin-top: 25rem;
                    margin-left: 40px;
                }
            }
        }
        .first-two-circles{
            width: 100%;
            margin-top: 20rem;
            .heart-pic{
                margin-top: -10rem;
            }
            .c1{
                margin-top: -17rem;
                margin-left: -2rem;
            }
            .c2{
                position: absolute;
                margin-top: 9rem;
                margin-left: 3rem;
                .circle-text{
                    padding-top: 2rem;
                }
            }
        }
    }
    .carusal{
        display:block;
    }
    .our-team-images{
        display:none;
    }
 }
@media (max-width: 567px) and (min-width: 480px) {
    .progress-rounds-main{
        margin-top: 0;
        .progress-circles-start{
            margin-top: 0;
            flex-direction: column;
            .Last-two-circles{
                width:100%;
                margin-top: 0;
                .background-heart-image{
                    .dotts-pic{
                        display: none;
                        margin-left: 0;
                    }
                }
                .c4{
                    margin-top: 25rem;
                    margin-left: 40px;
                }
            }
        }
        .first-two-circles{
            width: 100%;
            margin-top: 5rem;
            display: block;
            .c1{
                margin-top: -17rem;
                margin-left: -2rem;
            }
            .c2{
                margin-top: 9rem;
                margin-left: 3rem;
                .circle-text{
                    padding-top: 2rem;
                }
            }
        }
    }
    .carusal{
        display:block;
    }
    .our-team-images{
        display:none;
    }
 }
@media (max-width: 479px) and (min-width: 320px) {
    .progress-rounds-main{
        margin-top: 0;
        .progress-circles-start{
            margin-top: 0;
            flex-direction: column;
            .Last-two-circles{
                width:100%;
                margin-top: 0;
                .background-heart-image{
                    .dotts-pic{
                        display: none;
                        margin-left: 0;
                    }
                }
                .c4{
                    margin-top: 25rem;
                    margin-left: 40px;
                }
            }
        }
        .first-two-circles{
            width: 100%;
            margin-top: 5rem;
            display: block;
            .c1{
                margin-top: -17rem;
                margin-left: -2rem;
            }
            .c2{
                margin-top: 9rem;
                margin-left: 3rem;
                .circle-text{
                    padding-top: 2rem;
                }
            }
        }
    }
    .carusal{
        display:block;
    }
    .our-team-images{
        display:none;
    }
 }